.darkveil-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  min-width: 100%;
  min-height: 100%;
}

