.loadingContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  min-height: 22px;
  width: auto;
}

.typingAnimation {
  width: 42.5px;
  height: 21.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Make sure the Lottie animation is visible */
.typingAnimation svg {
  width: 100%;
  height: 100%;
}

